section.about
	.container
		.row.text-center
			.col-md-12
				h2 ABOUT
				h5 Lorem ipsum dolor sit amet consectetur
		.row
			.col-md-6.text-right
				h5 2009-2011
				h5 Our Humble Beginnings
				p Lorem ipsum dolor sit amet, consectetur adipisicing<br>elit. Sunt ut voluptatum eius sapiente, totam<br>reiciendis temporibus qui quibusdam, recusandae<br>sit vero unde, sed, incidunt et ea quo dolore<br>laudantium consectetur!
		.row
			.col-md-6.col-md-offset-6.text-left
				h5 MARCH 2011
				h5 An Agency is Born
				p Lorem ipsum dolor sit amet, consectetur adipisicing<br>elit. Sunt ut voluptatum eius sapiente, totam<br>reiciendis temporibus qui quibusdam, recusandae<br>sit vero unde, sed, incidunt et ea quo dolore<br>laudantium consectetur!
		.row
			.col-md-6.text-right
				h5 DECEMBER 2012
				h5 Transition to Full Service
				p Lorem ipsum dolor sit amet, consectetur adipisicing<br>elit. Sunt ut voluptatum eius sapiente, totam<br>reiciendis temporibus qui quibusdam, recusandae<br>sit vero unde, sed, incidunt et ea quo dolore<br>laudantium consectetur!
		.row
			.col-md-6.col-md-offset-6.text-left
				h5 JULY 2014
				h5 Phase Two Expansion
				p Lorem ipsum dolor sit amet, consectetur adipisicing<br>elit. Sunt ut voluptatum eius sapiente, totam<br>reiciendis temporibus qui quibusdam, recusandae<br>sit vero unde, sed, incidunt et ea quo dolore<br>laudantium consectetur!