footer
	.container
		.row
			.col-md-4
				p Copyright &copy; Your Website 2014
			.col-md-4.text-center
				a.fa.fa-twitter(href="#")
				a.fa.fa-facebook(href="#")
				a.fa.fa-linkedin(href="#")
			.col-md-4.text-right
				a(href="#") Privacy Policy&nbsp;&nbsp;&nbsp;
				a(href="#") Terms of Use