section.portfolio
	.container.text-center
		.row
			.col-md-12
				h2 PORTFOLIO
				h5 Lorem ipsum dolor sit amet consectetur
		+imagenes("roundicons","startup-framework","treehouse")
		+imagenes("golden","escape","dreams")
		